/customer-order/.project
/customer-order/logfile_IS_UNDEFINED
/customer-order/.settings
/customer-order/target
/customer-order/.classpath
/customer-order-interfaces/.project
/customer-order-interfaces/.settings
/customer-order-interfaces/target
/customer-order-interfaces/.classpath
